.markdown {
  color: @fontColor;

  font-size: 14px;
  line-height: 2;

  h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    color: inherit;

    // 缩进处理
    text-indent: -1em;

    .header-anchor {
      opacity: 0;
    }

    &:hover .header-anchor {
      opacity: 1;
    }
  }

  h1 {
    margin-top: 8px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;

    &.subtitle {
      margin-left: 12px
    }
  }

  h2 {
    font-size: 24px;
    line-height: 32px
  }


  h2, h3, h4, h5, h6 {
    clear: both;
    margin: 1.6em 0 .6em;
  }

  h3 {
    font-size: 18px
  }

  h4 {
    font-size: 16px
  }

  h5 {
    font-size: 14px
  }

  h6 {
    font-size: 12px
  }

  hr {
    clear: both;
    height: 1px;
    margin: 56px 0;
    background: rgba(0, 0, 0, .06);
    border: 0
  }

  p, pre {
    margin: 1em 0
  }


  ul > li {
    margin-left: 20px;
    padding-left: 4px;
    list-style-type: circle
  }


  ul > li:empty {
    display: none
  }

  ol > li {
    margin-left: 20px;
    padding-left: 4px;
    list-style-type: decimal
  }


  ul > li > p, ol > li > p {
    margin: .2em 0
  }

  code {
    margin: 0 1px;
    padding: .2em .4em;
    font-size: .9em;
    background: #f2f4f5;
    border: 1px solid rgba(0, 0, 0, .06);
    border-radius: 3px
  }

  pre {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
    border-radius: 2px
  }

  pre code {
    background: unset;
    margin: 0;
    padding: 0;
    overflow: auto;
    font-size: 13px;
    direction: ltr;
    text-align: left;
    border: none
  }

  strong, b {
    font-weight: 500
  }

  & > table {
    width: 100%;
    margin: 8px 0 16px;
    direction: ltr;
    empty-cells: show;
    border: 1px solid rgba(0, 0, 0, .06);
    border-collapse: collapse;
    border-spacing: 0
  }

  & > table th {
    color: #5c6b77;
    font-weight: 500;
    white-space: nowrap;
    background: rgba(0, 0, 0, .02)
  }

  & > table th, > table td {
    padding: 16px 24px;
    text-align: left;
    border: 1px solid rgba(0, 0, 0, .06)
  }

  table td > a:not(:last-child) {
    margin-right: 0 !important
  }

  table td > a:not(:last-child):after {
    position: relative !important
  }

  blockquote {
    margin: 1em 0;
    padding-left: .8em;
    color: #00000073;
    font-size: 90%;
    border-left: 4px solid rgba(0, 0, 0, .06)
  }

  blockquote p {
    margin: 0
  }

  img {
    max-width: calc(100% - 32px);
    max-height: 100%
  }

  p > img {
    margin: 34px 0;
    box-shadow: 0 8px 20px #8fa8bf59
  }


  // 代码高亮
  .shiki {
    padding: 16px;
    border-radius: 4px;
    line-height: 1.5
  }
}
